<h1 class="text-2xl font-bold mb-4">請求フォームの編集</h1>

<%= form_with(model: @loan, url: lends_path, class: "max-w-md mx-auto") do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="mb-4">
    <%= f.label :email, "貸した人", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.email_field :email, required: true, maxlength: 50, class: "form-input mt-1 block w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :amount, '金額', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <div class="flex">
      <%= f.number_field :amount, min: 1, max: 1000000, required: true, class: "form-input mt-1 block w-2/3" %>
      <span class="ml-2 mt-2 text-gray-600">円</span>
    </div>
  </div>

  <div class="mb-4">
    <%= f.label :comment, 'コメント', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :comment, maxlength: 50, class: "form-input mt-1 block w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :return_on, '返済して欲しい日', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.date_field :return_on, min: Time.zone.now, required: true, class: "form-input mt-1 block w-full" %>
  </div>

  <div>
    <%= f.submit '請求する' %>
  </div>

<% end %>
