<div class="flex flex-col w-full">
    <div>
        <h1 class="text-center mb-4 text-4xl font-bold leading-none tracking-tight text-emerald-600">請求フォーム</h1>
    </div>
    <%= form_with(model: @loan, url: lends_path, class: "max-w-md mx-auto") do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
        <%= f.label :email, "貸した人", class: "block text-md font-medium leading-6 text-black" %>
        <div class="my-2 rounded-md shadow-sm">
            <%= f.email_field :email, required: true, maxlength: 30, class: "block rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
        </div>
    </div>

    <div class="mb-4">
        <%= f.label :amount, '金額', class: "block text-md font-medium leading-6 black" %>
        <div class="flex">
            <%= f.number_field :amount, min: 1, required: true, class: "block rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
            <span class="ml-2 mt-2 text-gray-600">円</span>
        </div>
    </div>

    <div class="mb-4">
        <%= f.label :comment, 'コメント', class: "block text-md font-medium leading-6 black" %>
        <%= f.text_field :comment, maxlength: 30, class: "block rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
    </div>

    <div class="mb-4">
        <%= f.label :return_on, '返済して欲しい日', class: "block text-md font-medium leading-6 black" %>
        <%= f.date_field :return_on, min: Time.zone.now, required: true, class: "block rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
    </div>

    <div>
        <%= f.submit '請求する', class: "text-white !bg-emerald-600 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-6/12 px-5 py-2.5 text-center" %>
    </div>
    <% end %>
</div>