<div class="flex flex-col w-full">
  <div class="flex justify-between">
      <p class="text-sm font-semibold leading-6 text-gray-900"><span aria-hidden="true">&larr;</span><%= link_to "借り詳細に戻る", borrow_path(@borrow) %></p>
  </div>
  <div>
    <h1 class="text-center mb-4 text-4xl font-bold leading-none tracking-tight text-emerald-600">返済</h1>
  </div>
  <%= form_with(model: [@borrow, @repayment],url: borrow_repayments_path(@borrow), local: true,class: "mx-auto") do |form| %>
      <div class="my-2 rounded-md shadow-sm">
        <p class="block text-md font-medium leading-6 text-black">返済残高:<%= @repaymentBalance %>円</p>
      </div>
      <%= form.label :amount, "返済金額", class: "block text-md font-medium leading-6 text-black" %>
      <% if @repayment.errors.any? %>
        <% @repayment.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      <% end %>
      <div class="my-2 rounded-md shadow-sm">
        <%= form.number_field :amount, required: true, class: "block rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    <%= form.submit "返済する", class: "text-white !bg-emerald-600 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-6/12 px-5 py-2.5 text-center" %>
  <% end %>
</div>

