<table>
  <thead>
    <tr>
      <th>借りた人</th>
      <th>金額</th>
      <th>返済予定日</th>
      <th>コメント</th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |loan| %>
      <tr>
        <td><%= loan.lend_user.name %></td>
        <td><%= loan.amount %></td>
        <td><%= loan.return_on %></td>
        <td><%= loan.comment %></td>
        <td>
          <%= link_to '詳細', borrow_path(loan) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

