<div class="flex flex-col w-full">
  <div class="flex justify-end">
    <%= link_to '新しく借りる', new_borrow_path, class: "text-center w-1/12 bg-teal-300 hover:bg-teal-400 text-white font-bold py-1 px-2 rounded-full"  %>
  </div>
    <% if !@borrowInfos.empty? %>
    <div>
        <h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">借り一覧 <%= @borrowInfos.count %>件</h1>
    </div>
    <div class="bg-neutral-100 w-full mx-auto rounded-xl grid grid-cols-3 gap-5 p-7">
        <% @borrowInfos.each do |borrowInfo| %>
        <div class="bg-white rounded-xl border">
            <div class="">返済者: <%= borrowInfo["borrow"].lend_user.name %></div>
            <div class="">借入金額: <%= borrowInfo["borrow"].amount %>円</div>
            <div class="">返済残高: <%= borrowInfo["balance"] %>円</div>
            <div class="">コメント: <%= borrowInfo["borrow"].comment %></div>
            <div class="">返却期限: <%= l borrowInfo["borrow"].return_on %></div>
            <%= link_to '詳細', borrow_path(borrowInfo["borrow"]), class: "bg-teal-300 hover:bg-teal-400 text-white font-bold py-1 px-2 rounded-full" %>
            <% if borrowInfo["borrow"].overdue? &&  borrowInfo["balance"] == 0 %>
               <%= image_tag "tiger.png", alt: "怖いトラ" %>
               <%= "噛み殺すぞ" %>
            <% else %>
               <%= image_tag "cat.png", alt: "かわいい猫" %>
               <%= "返してにゃ~" %>
            <% end %>
         </div>
        <% end %>
    </div>
    <% end %>
</div>

