<div class="flex flex-col w-full">
    <% if !@borrowInfos.empty? %>
    <div>
        <h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">借り一覧 <%= @borrowInfos.count %>件</h1>
    </div>
    <div class="bg-neutral-100 w-full mx-auto rounded-xl grid grid-cols-3 gap-5 p-7">
        <% @borrowInfos.each do |borrowInfo| %>
         <% if borrowInfo["borrow"].approval_status == 1 %>
         <div class="bg-white rounded-xl border">
            <div class="">返済者: <%= borrowInfo["borrow"].lend_user.name %></div>
            <div class="">借入金額: <%= borrowInfo["borrow"].amount %>円</div>
            <% if borrowInfo["balance"] > 0 %>
            <div class="">返済残高: <%= borrowInfo["balance"] %>円</div>
            <% else %>
            <div>
              <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">返済完了</span>
            </div>
            <% end %>
            <div class="">コメント: <%= borrowInfo["borrow"].comment %></div>
            <div class="">返却期限: <%= l borrowInfo["borrow"].return_on %></div>
            <%= link_to '詳細', borrow_path(borrowInfo["borrow"]), class: "bg-teal-300 hover:bg-teal-400 text-white font-bold py-1 px-2 rounded-full" %>
            <% if borrowInfo["borrow"].overdue? &&  borrowInfo["balance"] != 0 %>
               <%= image_tag "tiger.png", alt: "怖いトラ" %>
               <%= "噛み殺すぞ" %>
            <% elsif borrowInfo["borrow"].due_within_three_days? && borrowInfo["balance"] != 0%>
               <%= image_tag "cat.png", alt: "かわいい猫" %>
               <%= "返してにゃ~" %>
            <% else %>

            <% end %>
         </div>
        <% end %>
       <% end %>
    </div>
    <% end %>
</div>

