<h1>借り新規登録</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧', borrows_path %>
</div>

<%= form_with model: @loan, url: borrows_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :amount, '金額' %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :return_on, '返済予定日' %>
    <%= f.date_field :return_on, class: 'form-control' %>
  </div>
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>
