<div class="flex flex-col w-full">
  <div class="flex justify-between">
      <p style="color:#022540" class="text-sm font-semibold leading-6 text-gray-900"><span aria-hidden="true">&larr;</span><%= link_to "借り一覧へ", borrows_path %></p>
      <% if @repaymentBalance > 0 %>
      <p><%= link_to '返済する', new_borrow_repayment_path(@borrow), class: 'text-center w-1/12 bg-teal-200 hover:bg-teal-400 font-bold py-3 px-3 rounded-full' %></p>
      <% end %>
  </div>
  <div class="w-11/12 mx-auto grid grid-cols-2 gap-2">
    <div>
      <div>
        <h1 style="color:#022540" class="text-center mr-32 mb-4 text-2xl font-bold leading-none tracking-tight">返済内容</h1>
      </div>
      <div class="w-10/12 bg-white rounded-xl border border-black grid grid-cols-2">
        <div class="grid mt-2">
          <div>
              <span class="bg-yellow-400 text-center text-xs mx-2.5 py-1 px-3.5 rounded-full">返済者</span>
              <span class="mx-1"><%= @borrow.lend_user.name %></span>
          </div>
          <div>
              <span class="bg-yellow-400 text-center text-xs mx-2.5 py-1 px-2 rounded-full">借入金額</span>
              <span class="mx-1"><%= @borrow.amount %>円</span>
          </div>
          <% if @repaymentApprovalBalance > 0 %>
          <div>
              <span class="bg-yellow-400 text-center text-xs mx-2.5 py-1 px-2 rounded-full">返済残高</span>
              <span class="mx-1"><%= @repaymentApprovalBalance %>円</span>
          </div>
          <% else %>
          <div>
            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">返済完了</span>
          </div>
          <% end %>
          <div>
              <span class="bg-yellow-400 text-center text-xs mx-2.5 py-1 px-3.5 rounded-full">コメント</span>
              <span class="mx-1"><%= @borrow.comment %></span>
          </div>
          <div>
              <span class="bg-yellow-400 text-center text-xs mx-2.5 py-1 px-2 rounded-full">返却期限</span>
              <span class="mx-1"><%= l @borrow.limit_on %></span>
          </div>
        </div>
        <div class="relative group">
          <% img = "cat.png" %>
          <% alt = "かわいい猫" %>
          <% imgComment = "にゃ~" %>
          <% if @borrow.expired? &&  @repaymentApprovalBalance != 0 %>
            <% img = "tiger.png" %>
            <% alt = "怖いトラ" %>
            <% imgComment = "嚙み殺すぞ" %>
          <% elsif @borrow.is_warning_days? && @repaymentApprovalBalance != 0 %>
            <% img = "catToritate.png" %>
            <% alt = "取り立て猫" %>
            <% imgComment = "まだかにゃ？" %>
          <% end %>
          <span class="rounded bg-black px-2 py-1 text-white absolute -top-2 left-5 before:absolute before:left-5 before:top-full before:border-4 before:border-transparent before:border-t-black opacity-0 group-hover:opacity-100 transition pointer-events-none">
            <%= imgComment %>
          </span>
          <%= image_tag img, alt: alt, class: "w-10/12 rounded-full object-contain my-3" %>
       </div>
      </div>
    </div>
    <div>
      <div>
      <h1 style="color:#022540" class="text-center mb-4 text-2xl font-bold leading-none tracking-tight">返済履歴 <%= @borrow.repayments.count %>件</h1>
      </div>
      <% if !@borrow.nil? %>
      <div class="border border-black bg-neutral-100 w-full mx-auto rounded-xl grid gap-y-3 p-7">
          <% @repayments.each do |repayment| %>
          <div class="bg-white rounded-xl border">
            <% if repayment.approval_status == 1 %>
            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">承認済み</span>
            <% else %>
            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">未承認</span>
            <% end %>
            <div class="">返済額 <%= repayment.amount %>円</div>
            <div class="">返却日: <%= l repayment.created_at %></div>
            <%= link_to "削除", borrow_repayment_path(repayment.loan_id, repayment),method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "bg-red-500 text-white px-2 py-1 rounded-md" %>
          </div>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

