<!DOCTYPE html>
<html>
  <head>
    <title>Toritateya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
        <div class="sticky z-50 top-0"><%= message %></div>
    <% end %>
    <main class="container mx-auto mt-5 px-5 flex">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
